Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_os }}"
  config.vm.define "{{ hostname }}"
  config.vm.hostname = "{{ hostname }}"
  config.vm.network "private_network", ip: "{{ host_ip }}"
  config.vm.provider :virtualbox do |vb|
      vb.name = "{{ hostname }}"
  end
end