Vagrant.configure("2") do |config|
  config.vm.box = "{{ vagrant_os }}"
  config.vm.define "{{ hostname }}"
  config.vm.hostname = "{{ hostname }}"
  config.vm.network "private_network", ip: "{{ host_ip }}"
  config.vm.provider :virtualbox do |v|
      v.name = "{{ hostname }}"
      v.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
      v.customize ["modifyvm", :id, "--natdnsproxy1", "on"]
  end
end